.item-detail{
    width: 100%;
    display: flex;
}

.item-description{
    width: 40%;
}

.item-cards2{
    display: flex;
    flex-direction: column;
    background-color: #27496D;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    border-radius: 15px;
    width: 60%;
    height: 70%;
    text-align: center;
    overflow: hidden;
    box-shadow:  4px 4px 8px black;
}

.prod-descri{
    width: 60%;
    color:#00ABCC;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    text-align: center;
}

.prod-descri p{
    font-weight: bold;
    font-size: 20px;
}

.prod-descri iframe{
    margin-top: 30px;
    width: 90%;
    height: 60%;
    opacity: .4;
    border-radius: 15px;
}

.prod-descri iframe:hover{
    opacity: 1;
    border: solid white 2px;
}

#counter-container{
    display: flex;
    width: 60%;
    height: 20%;
}

#counter{
    color:#00ABCC;
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 20%;
    height: 80%;
}
