.item-cards{
    display: flex;
    flex-direction: column;
    background-color: #27496D;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    border-radius: 15px;
    width: 18%;
    height: 480px;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
}

.product-img{
    width: 100%;
    height: 50%;
}

.item-cards:hover{
    box-shadow:  4px 4px 8px black;
}

.item-descri{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.item-descri p{
    color:#00ABCC;
}

.seeMoreLink{
    max-width: 100%;
    text-decoration: none;
    color:#00ABCC;
    padding: 10px;
    border-radius: 15px;
}

.add-to-cart-button{
    margin: 10px 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #00ABCC;
    border-radius: 12px;
    color: #27496D;
}

.add-to-cart-button:hover{
    color: #00ABCC;
    border-radius: 12px;
    background-color: #27496D;
    border: solid 2px #00ABCC;
}

@media (max-width: 722px) {
    .item-descri{
        justify-content: center;
        align-items: center;
    }
    
    .item-descri p{
        display: none;
    }
  }