#cart-container{
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shopping-cart{
    width: 50%;
    height: 100%;
    filter: invert(100%) sepia(11%) saturate(7458%) hue-rotate(174deg) brightness(114%) contrast(113%);
}

#cart-counter{
    background-color: white;
    border-radius: 50%;
    margin-left: 2px;
    font-weight: bold;
    width: 14px;
    height: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media (max-width: 770px) {
    #cart-container{
        flex-direction: column;
    }
  }